@import "../utils/variables";
@import "../base/typography";

body {
    background-image: $background-image;
    background-position: center;
    background-repeat: round;
    background-size: 100%;
    overflow-x: hidden;
    z-index: -2;
} 

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 1500px;
    .intro {grid-area: 1 / 1 / 2 / 2;}
    .main {grid-area: 3 / 1 / 4 / 2;}
}

.intro header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    h1,
    h2 {
        font-family: $titles-font;
        text-align: center;
    }
}
header {
    color: $box-background-color;
    background: $background-image;
}
h3 {
    font-family: $titles-font;
    color: $p-color;
}
p {
    font-family: $text-font;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: $p-color;
    font-family: $text-font;
}
a:hover {
    text-decoration: underline;
    color: $hover-color;
}
.summary {
    background-color: $box-background-color;
    background-image: url($metal-texture);
    padding: 3%;
    color: $p-color;
}

.preamble, 
.explanation,
.participation,
.benefits {
    background-color: $box-background-color;
    background-image: url($metal-texture);
    margin: 5vh 10vw;
    padding: 3%;
}

.requirements {
    background-color: $box-background-color;
    background-image: url($metal-texture);
    padding: 3%;
    overflow-y: hidden;
}

.sidebar {
    padding: $small-lateral-padding;
}
.wrapper {
    // height: 100%;
    background-color: $box-background-color;
    background-image: url($metal-texture);
    display: flex;
    padding: 10px;
    cursor: pointer;
    grid-area: 2 / 1 / 3 / 2;
    h3 {text-align: center;}
    a {text-align: left;}
}
footer {
    margin: 10% auto;
    display: flex;
    justify-content: center;
}
footer a {
    color: $box-background-color;
    padding-left: 10px;
    padding-right: 10px;
}