@media only screen and (min-width: 1028px){
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .proximity{
        grid-column: 3;
    }
    
    img{
        margin-bottom: 15px;
    }


}