@media only screen and (min-width: 560px){
    main{
        grid-template-columns: 1fr 1fr;
    }
    .repetition{
        grid-column: 1;
    }
    .hickslaw{
        grid-column: 2;
    }
    .proximity{
        grid-column: 1 / 3;
    }





}