$small-lateral-padding: 0 12px;
$large-lateral-padding: 0 20px;

$columns: 12;


//COLORS
$box-background-color: #c8d4da;
$p-color: #012A4A;
$hover-color: #495057;

//background
$background-image: url(../images/galaxy.jpg);
// $background-image: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);

//TYPOGRAPHY
$titles-font: 'Oswald', sans-serif;
$text-font: 'Josefin Sans', sans-serif;

//URLS

$metal-texture: "../images/metal_texture_small.jpg";
$asteroid-big: "../images/asteroid-big.svg";
$asteroid-med: "../images/asteroid-med.svg";
$rocket: "../images/rocket.svg";
$moon: "../images/moon.svg";
$planet: "../images/planet.svg";

