@import "variables"; //Temporarily import variables for 
//autocomplete purposes.

body main{
    max-width: 800px;
    margin: 0 auto;

}
////// HEADER //////

header{ //Header Grid organization
    display: grid;
    grid-template-columns: 1.2fr 1fr 2fr;
    grid-template-rows: 1fr;
    div{
        grid-column: 1 / 2;
        margin-left: 5rem;
    }
    div.weatherBox{
        grid-column: 3 / 4;
        justify-self: end;
    }
}
#weatherSmall{
    display: none;
}
#weatherSmallSection{
    display: none;
}
#weatherBig{ //Weather Box Flex Setup
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin: 1rem;
    border-radius: .5rem;
    div{
        margin: auto 0;
        img{
            width: 70px        
        }
    }   
    .weatherTopData{
        margin-left: .5rem;
        p{
            margin-bottom: 0;
            margin-top: 0.2rem;
            margin-right: 1rem;
        }
    }
}

////// NAV + HERO GRID //////
.navAndHero{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    margin-top: 0;
}
/////// NAVIGATION ///////
nav{
    grid-row: 1 / 2;
    grid-column: 1 / 2 ;
    z-index: 1;
}
nav ul {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    // background-color: $sapphire-blue;
    li{
        border: 2px solid rgba($color: #ffffff, $alpha: .5);
        border-top: none;
        display: block;
        margin: auto auto;
        border-radius: 0 0 .5rem .5rem;
        &:first-child{
            display:none;
        }
        a {
            padding: .5rem 1.5rem;
            color: white;
            &:active{
                border-radius: 0 0 .5rem .5rem;
            }
        }
    }    
}

.active{
    background-color: $indigo-dye;
}

////// HERO IMAGE //////

.hero{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    z-index: 0;
    grid-template-columns: 1fr .1fr 1fr;
    grid-template-rows: auto 1.5fr auto;
    .indexHeroImg{
        grid-column: 1 / 4;
        grid-row: 1 / 4;
    }
    .heroText{
        grid-column: 1/3;
        grid-row: 2;
        align-self: center;
        h1{
            font-size: 4.5rem;
            margin-bottom: 0;
            margin-top: -5%;
        }
        h2{
            font-size: 2.8rem;
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
    .heroAction{
        grid-column: 3/4;
        grid-row: 2;
        box-shadow: -3px 3px 6px white;

    }
}

////// MAIN //////

.indexSummary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


////// FOOTER //////

footer .footerBoxes{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    column-gap: 2.5rem;
    .location{
        grid-column: 1 / 2;
        grid-row: 2;
    }
    .map{
        grid-column: 2 / 3;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        iframe{
            max-width: 93%;
        }
    }
    .footerLegal{
        grid-column: 1 / 3;
        grid-row: 3;
    }

}

////////////////////////////////////////////////////////
////// RENTALS PAGE //////

.rentalsInfo{
    max-width: 80%;
}

.rentalsCards{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.scooters, .atvs, .jeeps{
    // border: 2px solid $sectionBoxes;
    // border-radius: 10px;
    h2{
        margin-left: 3%;
    }
}

.homeBanText h3{
    font-size: .5rem;   
}
.rentalsH1{
    margin-left: 3%;
}

///////////////////////////////////////////
////// RESERVATIONS //////


///////////////////////////////////////////
////// Tours //////
article p{
    font-size: 1.2rem;
}
.tourOptions article .floatL{
    float: left;
    width: 250px;
    margin: .3rem 1.2rem .3rem;
    img{
        float: left;
    }
}

.tourOptions article .floatR{
    float: right;
    width: 250px;
    margin: .3rem 1.2rem .3rem;
    img{
        float: right;
    }
}
.tourOptions article figure.wide{
    margin: 0 auto 1rem;
    width: 96%;
    img{
        width: 100%;
    }
}