@import "variables"; //Temporarily import variables for 
                     //autocomplete purposes.

////// GENERAL //////
body{
    font-size: 16px;
    background-color: rgb(221, 219, 219);
    // font-family: "Ubuntu", sans-serif;
    margin: 0.4rem;
    margin: 0 auto;
    font-family: "Dosis", sans-serif;
}


////// HEADER //////

header{
    background-color: green;
}

.weatherBox{
    background-color: aqua;
}

////// NAVIGATION //////

nav ul li a{
    font-family: $Dosis400;
    font-weight: 600;
}

