@import "variables"; //Temporarily import variables for 
                     //autocomplete purposes.

////// GENERAL //////
body{
    font-size: 16px;
    background-color: rgb(221, 219, 219);
    // font-family: "Ubuntu", sans-serif;
    margin: 0 auto;
    font-family: "Dosis", sans-serif;
    color: #000042;
}

h1{
    font-family: "Chango", sans-serif;
}

a{
    text-decoration: none;
}


////// HEADER //////

header{
    background: $indigo-dye;
    #logoDiv{
        margin: auto 2%;
        padding: 2%;
        img{
            display: block;
            margin: 2% auto;
            width: 300px;
            max-width: 100%;
        }
    }
}

#weatherBig{
    display: none;
}

////// NAVIGATION //////

nav ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    li{
        display: none; ///It wont display unless click on the button
        background-color: $sapphire-blue;
        border-top: 2px solid rgba($color: #000000, $alpha: 0.5);
        a{
            display: block;
            font-family: $Dosis400;
            font-weight: 600;
            text-decoration: none;
            padding: .75rem;
            color: white;
            text-align: center;
            &:active{
                background-color: $ultramarine-blue;
            }
        }
        &:hover{
            background-color: $indigo-dye;
        }
        &:first-child {
            display: block; //This allows the 'Menu' button to be
        }                    //visible at all times.
        
    }
}

.hide{
    display:none;
}
.responsive li {
	display: block;
}


////// HERO IMAGE //////

.hero{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    .indexHeroImg{
        grid-column: 1;
        grid-row: 1 / 3;
        z-index: -1;
        img{
            width: 100%;
        }
    }
    .heroText{
        grid-column: 1;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: rgba(217, 212, 209, .9);
        text-shadow: 3px 3px 5px black;
        h1{
            font-size: 4.2rem;
            margin-bottom: 0;
        }
        h2{
            font-size: 1.8rem;
            margin-top: 5px;
        }
    }
    .heroAction{
        grid-column: 1;
        grid-row: 2 / 3;
        justify-self: center;
        background: $indigo-dye;
        padding: 2rem 1rem;
        border-radius: 10px;
        &:hover{
            background-color: $sapphire-blue;
        }
        a{
            color: $timberwolf;
            font-weight: 600;
            font-size: 2rem;
            padding: 2rem 1rem;
            margin: 0;
            &:hover{
                color: white;
            }
        }
    }
}

////// MAIN //////
body main{
    margin: auto 2%;
}

.sectionTitle{
    margin-left: 2%;
}
// SUMMARY //
.indexSummary{
    display: block;
    width: 100%;
    .homeBan{
        // grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        .homeBanText{
            grid-column: 1 / 3;
            grid-row: 1;
            z-index: 2;
            margin: 8% 0 0 15%;
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            color: white;
            text-shadow: $textShadow;
            h3{
                font-family: Dosis;
                font-weight: 800;
                font-size: 3rem;
                margin: 0px;
            }
            p{
                margin: 0;
                font-size: 2rem;
            }
        }
        .gotoRental{
            grid-area: 3;
            grid-column: 2 / 4;
            justify-self: end;
            align-self: center;
            z-index: 1;
            background-color: $timberwolf;
            margin-right: 15%;
            text-align: center;
            padding: 1rem 0;
            border-radius: 10px;
            &:hover{
                background-color: rgb(165, 160, 158);
            }
            a{
                color: $ultramarine-blue;
                text-decoration: none;
                font-weight: 800;
                font-size:1.5rem;
                padding: 1rem .5rem;
                &:hover{
                    color: white;
                }
            }
        }
        img{
            grid-area: 1 / 1 / 4 / 4;
            width: 95%;
            margin: 3% auto;
            border-radius: 10px;
            transition: 200ms linear;
            z-index: 0;
            &:hover{
                width: 97%;
                margin: 1% auto;
            }
        }
    }

}
.h3Chango, h2{                          //Check this!!!!!!!!!!!!
    font-family: "Chango", sans-serif;
}

// FORECAST //
#weatherSmallSection{
    border: 1px solid $sectionBoxes;
    border-radius: .5rem;
    margin: 1rem 2%;
    h2{
        margin-top: 0.5rem;
    }
    .weatherBox{ //Weather Box Flex Setup
        display: flex;
        flex-direction: row;
        
        margin: 1rem 2%;
        
        div{
            margin: auto 0;
            img{
                width: 70px        
            }
        }   
        .weatherBottomData{
            margin-left: .5rem;
            p{
                margin-bottom: 0;
                margin-top: 0.2rem;
                margin-right: 1rem;
            }
        }
    }
    .weatherSmall{
        margin: 1rem 2%;
    }
}

.sectRight{
    margin-bottom: 2rem;
    border: 1px solid $sectionBoxes;
    border-radius: 10px;
    margin: auto 2%;
    h2{
        margin-top: .5rem;
    }
    .weatherForecast{
        display: flex;
        justify-content: center;
        margin-bottom: 1.2rem;
        div{
            display: flex;
            flex-direction: column;
            border: 2px solid $red-pigment;
            border-radius: 7px;
            margin: auto 2%;
            text-align: center;
            width: 120px;
            img{
                margin: auto;
                max-width: 70px;
            }
            // p{}
        }
    }
}
#weatherDisclaimer{
    font-size: 0.7rem;
    text-align: center;
}

////// FOOTER //////

footer{
    background-color: $indigo-dye;
    display: block;
    img{
        display: block;
        max-width: 150px;
        margin: 10px auto 0 auto;
        padding-top: 10px;
    }
    .footerBoxes{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
        justify-items: center;
        max-width: 860px;
        margin: 0 auto;
        .location{
            color: white;
            grid-row: 1 / 2;
            width: 85%;
            text-align: center;
            #locationsTitle{
                font-size: 2rem;
                margin: 1rem 0.6rem;
                font-weight: 600;
            }
            .locations{
                border: 1px solid rgba(255, 255, 255, .5);
                border-radius: 10px;
                p a{
                    text-decoration: none;
                    color: white;
                }
            }
            .socialMedia{
                margin: 5% auto; 
                display: flex;
                justify-content: space-around;
                img{
                    max-width: 75px;
                }
            }
        }
        .map{
            grid-row: 2 / 3;
            iframe{
                max-width: 94%;
                margin: auto 3%;
            }
        }
        .footerLegal{
            grid-row: 3 / 4;
            color: white;
            text-align: center;
            font-size: 0.8rem;
            p a{
                color: white;
                text-decoration: none;
            }
        }
    }
}

////////////////////////////////////////////////////////
////// RENTALS PAGE //////
.rentalsInfo{
    border: 1px solid $sectionBoxes;
    border-radius: 10px;
    max-width: 94%;
    margin: 0 auto;
    p{
        margin-bottom: .8rem;
        padding: 0 1.5rem;
    }
    h4{
        padding: 0 1.52rem;
    }
}
.rentalsCards{
    display: block;
    width: 100%;
    .homeBan{
        // grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .homeBanText{
            grid-column: 1 / 4;
            grid-row: 1;
            z-index: 2;
            margin: 8% 0 0 8%;
            font-size: 3rem;
            display: flex;
            flex-direction: column;
            color: white;
            text-shadow: $textShadow;
            h3{
                font-family: Dosis;
                font-weight: 800;
                font-size: 2rem;
                margin: 0px;
            }
            p{
                margin: 0;
                font-size: 2rem;
            }
        }
        .gotoRental{
            grid-row: 2;
            grid-column: 2 / 4;
            justify-self: end;
            align-self: center;
            z-index: 1;
            background-color: $timberwolf;
            margin-right: 15%;
            text-align: center;
            padding: 1rem 0;
            border-radius: 10px;
            &:hover{
                background-color: rgb(165, 160, 158);
            }
            a{
                color: $ultramarine-blue;
                text-decoration: none;
                font-weight: 800;
                font-size:1.5rem;
                padding: 1rem .5rem;
                &:hover{
                    color: white;
                }
            }
        }
        img{
            grid-area: 1 / 1 / 4 / 4;
            width: 95%;
            margin: 3% auto;
            border-radius: 10px;
            transition: 200ms linear;
            z-index: 0;
            &:hover{
                width: 97%;
                margin: 1% auto;
            }
        }
    }

}

////// PRICES TABLE //////

:root {
    --odd-row: #e7f0ed;
    --even-row: #e7ffed;
    --header: #628ca6;
    --title: #7fb9c2;
}
section#rentalPrices{
    h2{
        display: none;
    }
    table{
        margin: 30px auto;
    }
}
table, caption{
    box-shadow: 5px 10px 10px var(--header);
}


caption {
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    background-color: $sapphire-blue;
    padding: 0.5rem;
}

table{
    text-align: center;
    margin: 2rem 0 3rem 0;
    thead th{
        font-size: 1rem;
        font-weight: 400;
    }
    tr{
        background-color: var(--odd-row);
        &:nth-child(even) {
            background-color: var(--even-row);
        } 
        th {
            color: white;
            background-color: $indigo-dye;
            font-size: 1.2rem;
        }
        .price{
            text-align: right;
            word-wrap: normal;
        }
    }   
}


tr td,
th {
    padding: .3rem;
}


tfoot tr {
    background-color: $sapphire-blue;
    font-size: 0.8rem;
    color: white;
}

table,
td,
th {
    border: 1px solid rgb(196, 196, 196);
    border-collapse: collapse;
}
table tbody tr#secondHead{
    color:white;
    background-color: $indigo-dye;
}

/////////////////////////////////////////////////////
////// RESERVATIONS //////

form{
    max-width: 800px;
    margin: 0 auto;
    fieldset{
        margin: 1rem auto ;
        border: 2px solid $sectionBoxesHard;
        border-radius: 10px;
        padding: .5rem 2%;
        max-width: 90%;
        div{
            display: block;
            padding-top: 1rem;
            font-size: 1.2rem;
            width: 20rem;
        }
    }
    legend{
        background-color: var(--decoration-color-2);
        margin: 0 1rem;
        padding: .5rem .5rem;
        border-radius: 10px;
        font-size: 1.2rem;
    }
    label.top, form div{
        display: block;
        padding-top: 1rem;
        font-size: 1.2rem;
        width: 20rem;
        input{
            display: block;
            font-size: 1rem;
            border: 1px solid grey;
            border-radius: 10px;
            padding: .75rem;
            color: #555;
            width: 90%;
            background-color: white;
            margin-top: 3px;
            -webkit-appearance: none;
        }
        select{
            display: block;
            font-size: 1rem;
            border: 1px solid grey;
            border-radius: 10px;
            padding: .75rem;
            color: #555;
            width: 100%;
            background-color:white;
            margin-top: 3px;
            -webkit-appearance: none;
        }
    }
    label.sbs{
            display: block;
            padding: .5rem 0;
            color: #555;
        }
    
    input.submitBtn{
            border: none;
            background-color: $sapphire-blue;
            color: white;
            border-radius: 1rem;
            padding: .75rem 1.5rem;
            margin: 0 auto 2rem 5%;
            width: 96%;
            max-width: 20rem;
        }
}

label#agreement{
    margin-left: 5%;
}
main .reservationsH1{
    margin-left: 2%;
}

form label.top input:required{
    // outline: 1px red solid;
    border-left: red solid 6px;
    margin-right: -6px;
    border-collapse: collapse;
}

form label.top input:required:valid{
    // outline: 1px green solid;
    border-left: green solid 6px;
    margin-right: -6px;
    border-collapse: collapse;
}

form label.top textarea{
    width: 100%;
    height: 10rem;
    max-width: 20rem;
}

///////////////////////////
////// THANKS //////

.thanksH1{
    text-align: center;
    padding: 1rem;
}

/////////////////////////////
////// TOURS //////

.tourOptions article{
    border: 2px solid $sectionBoxesHard;
    border-radius: 10px;
    width: 96%;
    margin: 2%;
    .floatL, .floatR{
        margin: .3rem auto;
        display: block; 
        width: 95%;
        img{
            width: 100%;            
        }
    }
    .wide{
        display: block;
        margin: .3rem auto;
        width: 95%;
        img{
            width: 100%;
            border-radius: 0 0 10px 10px;
        }
    }
    h3, p{
        padding: 0 2%;
    }
}
.tours-map{
    display: block;
    margin: .5rem auto;
    width: 95%;
    img{
        width: 100%;
    }
}