$indigo-dye: rgba(0, 71, 117, 1);
$sapphire-blue: rgba(0, 98, 163, 1);
$timberwolf: rgba(217, 212, 209, 1);
$ultramarine-blue: rgba(46, 94, 255, 1);
$yellow-pantone: rgba(250, 225, 0, 1);
$red-pigment: rgba(231, 14, 25, 1);

$sectionBoxes: rgba(158, 154, 151, 0.3);

$headerGradient: linear-gradient(0deg, rgba(0,71,117,1) 0%, rgba(0,98,163,1) 32%, rgba(0,212,255,1) 100%);
$sectionLeftBackground: linear-gradient(90deg, rgba(0,71,117,0) 0%, rgba(0,98,163,0) 32%, rgba(250,225,0,0.16850490196078427) 100%);
$sectionRightBackground: linear-gradient(260deg, rgba(0,71,117,0) 0%, rgba(0,98,163,0) 32%, rgba(250,225,0,0.16850490196078427) 100%);

$Dosis400: "Dosis", sans-serif;

$textShadow: 2px 2px 3px black;