$indigo-dye: rgba(0, 71, 117, 1);
$sapphire-blue: rgba(0, 98, 163, 1);
$timberwolf: rgba(217, 212, 209, 1);
$ultramarine-blue: rgba(46, 94, 255, 1);
$yellow-pantone: rgba(250, 225, 0, 1);
$red-pigment: rgba(231, 14, 25, 1);

$Dosis400: "Dosis", sans-serif;