/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    
    .galleryMain{
        max-width: 1100px;
    }
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 25px;
        width: 1100px; 
        margin: 0 auto;
    }

    .gallery picture:nth-child(3n+1){
        grid-column: 1;
    }
    .gallery picture:nth-child(3n+2){
        grid-column: 2;
    }
    .gallery picture:nth-child(3n+3){
        grid-column: 3;
    }

    .gallery picture{
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 20px;
    }
    
    .gallery picture p{
        display: block;
        padding: 0.8rem;
        text-align: center;
    }

    form label.sbs{
        padding: .4rem 0;
    }

    /****************** HOMEPAGE *********************/

    div.card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
        margin: auto;
    }
    section div h2, h4, p{
        text-align: center;
    }
    section div img{
        width: 80%;
        margin: 0.3rem 10%;
    }

    
} /*end large */