/* 
*NOTE: Some of the animations, like the flames in the rocket, 
*the spinning of the asteroids, and the balancing moon have
*been coded inside the SVG file to allow us control the movement
*and the position without worrying about one animation changing
*the behavior of the other. This animations have been made 
*using a <style> tag inside the svg.
*/

/*Big Asteroid in Hero*/
header::before {
  display: block;
  content: "";
  background-image: url($asteroid-big);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  transform: translate(110vw, -200px);
}
@media screen and (max-width: 650px) {
  header::before {
    animation: asteroid1 8s linear infinite;
  }
}
@media screen and (min-width: 651px) {
  header::before {
    animation: asteroid1 11s linear infinite;
  }
}

/*Medium Asteroid in Hero*/
header::after {
  display: block;
  content: "";
  background-image: url($asteroid-med);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  //  background-position: 50% 50%;
  // margin-top: -100;
  transform: translate(110vw, -120px);
  z-index: 0;
}

@media screen and (max-width: 650px) {
  header::after {
    animation: asteroid2 9s linear infinite;
  }
}
@media screen and (min-width: 651px) {
  header::after {
    animation: asteroid2 15s linear infinite;
  }
}

/*animations for asteroids*/
@keyframes asteroid1 {
  95%{
    opacity: 1;
  }
  100% {
    // background-position: -100px 50%;
    transform: translateX(-100px);
    transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes asteroid2 {
  95%{
    opacity: 1;
  }
  100% {
    // background-position: -100px 50%;
    transform: translateX(-120px);
    transform: translateY(100px);
    // transform: rotateZ(90deg);
    opacity: 0;
  }
}

/*rocket for boxes*/
.explanation::before{
  display: block;
  content: "";
  position: absolute;
  background-image: url($rocket);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  right: 40px;
  margin-top: -20px;
  transform: rotateZ(-25deg);
  z-index: 0;
}

/* little moon*/
.participation::before{
  display: block;
  content: "";
  position: absolute;
  background-image: url($moon);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  right: 40px;
  margin-top: -20px;
  z-index: 1;
}

/*rocket ascending*/ 
.requirements::before{
  display: block;
  content: "";
  position: absolute;
  overflow: hidden;
  background-image: url($rocket);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  left: 40px;
  margin-bottom: 100px;
  transform: translateY(500px);
  opacity: 0;
  z-index: 1;
  animation: fly 7s linear infinite;
}
  @keyframes fly {
    10%{
      opacity: 1;
    }
    90%{
      opacity: 1;
    }
    100%{
      transform: translateY(0px);
      opacity: 0;
    }
    
  }

/*asteroid in box*/
.benefits::before{
  display: block;
  content: "";
  position: absolute;
  background-image: url($asteroid-med);
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  right: 40px;
  margin-top: -20px;
  z-index: 1;
}

/*planet pulsating*/
.preamble::before{
  display: block;
  content: "";
  position: absolute;
  background-image: url($planet);
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  right: 50px;
  margin-top: -20px;
  z-index: 1;
  filter: drop-shadow(0px 0px 3px rgb(224, 187, 22));
  animation: glow 1s linear infinite;
}

@keyframes glow {
  50%{
    filter: drop-shadow(0px 0px 10px rgb(243, 111, 34));
  }
  
}

/*changes made for the medium layout*/
@media (min-width: 651px) {
  .preamble::before{
    right: 150px;
  }

  .requirements::before{
    transform: translateY(340px);
  }
}

@media (min-width: 1400px) {
  .preamble::before{
    right: 250px;
  }
}