:root {
    --odd-row: #e7f0ed;
    --even-row: #e7ffed;
    --header: #628ca6;
    --title: #7fb9c2;
}


body {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 16px;
    max-width: 760px;
    margin: 0 auto;
}

body table{
    margin: 30px auto;
}
table, caption{
    box-shadow: 5px 10px 10px var(--header);
}


caption {
    font-size: 1.7rem;
    font-weight: bold;
    color: black;
    background-color: var(--title);
    padding: 0.5rem;
}

table tr th {
    color: white;
    background-color: var(--header);
    font-size: 1.2rem;
}

table tr {
    background-color: var(--odd-row);
}

tr:nth-child(even) {
    background-color: var(--even-row);
}

tr td,
th {
    padding: .5rem;
}

table tr td:hover {
    color: white;
    background-color: var(--header);
}

tfoot tr {
    background-color: var(--title);
    font-size: 0.8rem;
}

#blackFriday {
    font-style: italic;
}

table,
td,
th {
    border: 2px solid rgb(196, 196, 196);
    border-collapse: collapse;
}